Sept.11,2017 IN334 Code Culture & Practice, Emerson College
Learning python by exploration using jupyter notebook, running Python 2.7  
## Instructions Press SHIFT + ENTER to process a line of code
Each person will submit their own iPython notebook.

In [1]:

Name = raw_input("Ben \n")

Ben
Ben

In [2]:
print "Hello "+Name

Hello Ben

In [3]:
## COMMENTS
# The # side prefixes comments
'''
Multiline comments are between triple quoted strings
'''
"""
This is a
multilline comment
"""

'\nThis is a\nmultilline comment\n'

# 1 Prove to yourself that Python is a calculator that can perform arithmetic

To process a line, put your cursor on it and press SHIFT + ENTER.
You can process and insert new cells below by ⌥↩  (option + enter)
Or, you can use the menu items at the top.

In [4]:
2

2

In [5]:
2+2

4

In [6]:
6*5

30

In [7]:
3*100

300

In [8]:
7 * 3

21

In [9]:
5 + 2 * 8

21

In [10]:
"hello" * 3

'hellohellohello'

### Whole numbers are integers, but what happens when you try to divide integers?

In [2]:
5 / 2  #that's not right!  Python does some rounding off of integers.

2

In [3]:
#explictly convert to float (decimal numbers)
5 / 2.0

2.5

## 2 Variables:  Keep track of data by assigning names (placeholders for values) with the equal = sign.

In [11]:
pi = 3.14159  #assign pi
print 2 * pi  #perform an operation

6.28318

In [12]:
myVariable = "IN374"

In [13]:
myVariable

'IN374'

In [14]:

len(myVariable)

5

In [15]:
myVariable *3

'IN374IN374IN374'

In [16]:
myVariable + myVariable

'IN374IN374'

## How does python handle strings?

In [9]:
"hello"

'hello'

In [10]:
"hello"+"world"

'helloworld'

# 3 Make a few errors and see what Python tells you

Make a few syntax errors, notice how python tells you where it expects some attention.

In [11]:
2 +

SyntaxError: invalid syntax (<ipython-input-11-9371e255fe97>, line 1)

In [12]:
2 **&

SyntaxError: invalid syntax (<ipython-input-12-08fa9a6054bf>, line 1)

Python is telling us that it doesn't know what the word hello is-- it thinks its a variable that does not have a value

In [13]:
hello = "hi there"
hello * 2

'hi therehi there'

In [6]:
hello = 5  #assign it a value -- now that the value of hello is assigned, python will recognize it

hello * 2

10

In [7]:
#what if hello was a string - we can reassign the value of the name hello
hello = "World"
hello * 2

'WorldWorld'

notice that the interpreter understands how to multiply strings
what about adding?

In [8]:
hello * 2

'WorldWorld'

Notice that python doesn't know how to mix types and arithmetic operations

In [ ]:
"helloworld" + 2
"goodbye" * 2

 These are <b>unintentional</b> mistakes. Which arithmetic operations did I intend to use?  Python doesn't complain about valid lines of code. But the programmer should recognize when the computer did something that they did not intend. In this case, I want to add 5+4 and then multiply the result by two.

In [9]:
2 * 5 + 4 #python gives an answer, but its the wrong one

14

In [17]:
2 * (5 + 4) #code has to explicitly tell Python the correct order to perfrom the aritmetic

18

## In Python, sometimes you can mix types using operations

In [18]:
"hello" * 2 #python knows what to do with multiplying a string

'hellohello'

In [19]:
"hello" + str(2) #what if you wanted the number 2 explicitly 
# use str
# to let python know to handle the number as a string)

'hello2'

In [20]:
"hello" + "2"

'hello2'

In [21]:
#but python doesn't know how to multiply 2 strings
"hello" * "3"

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
#The error is a TypeError, you'll get the same if you divide

In [22]:
"hello" % 2

TypeError: not all arguments converted during string formatting

### Q. As a group, discuss why you can mix types?

In [ ]:
Python is dynamically typed.

## Lists are sequences where the order matters

In [34]:
list1 = ['abc','bcd','cde']

In [35]:
list1

['abc', 'bcd', 'cde']

Note that lists are zero indexed. The position of the first element starts at zero.

In [25]:
list1[0]   #get the first element

'a'

In [26]:
list1[1]

'b'

In [27]:
list1[2]

'c'

In [ ]:
#feel free to modify  the list elements above (remember to run those lines again)

In [28]:
#strings are actually lists (ordered sequences of characters)
"Hello"

'Hello'

In [29]:
"Hello"[0]

'H'

In [30]:
#assign a string to a variable named "user"
user = 'Emersonian'

In [31]:
user

'Emersonian'

In [33]:
#get the first letter
user[0]

'E'

### Q. As a group, discuss whether all strings are lists. Is the converse true-- are all lists string?  Can a list of numbers be a string?

In [ ]:
Strings are lists.

In [ ]:
Not all lists are strings. Lists can contain strings.

### A useful Python length function for sequences (len)
How to divide a string in half? Use the length of the string. <br>
There's a function called <b>len</b> that works on ordered lists: 
strings and arrays.

In [36]:
len("hello") #hello has 5 characters

5

In [37]:
len("Supercalifragilisticexpialidocious")

34

The Square Brackets after "hello" means to select a subset of the string. The places in the string start with number 0. So to select the first 3 characters 0-2, we use this notation:
"hello"[0:2]

In [38]:
print "hello"[0:3] 
print "hello"[2:5]

hel
llo

In [39]:
"hello"[0:len("hello")/2] #we'll use half the length

'he'

In [40]:
len([1,2,3])

3

In [41]:
#integers do not have a length in python
len(5)

TypeError: object of type 'int' has no len()

### Q. Write an expression for the list of all the members in your group. Then write another expression for the number of people on this list.

In [50]:
GrpMembers = ["Sam", "Chase", "Ben"]
print GrpMembers

len(GrpMembers)

['Sam', 'Chase', 'Ben']

3

### Group Challenge: Double Double
0. Fill out the description of double from the lecture slide
1. Describe double
2. Make the House of Dust print out multiple lines.

In [54]:
# use a function with list
def double(sequence):
    result = [];
    for element in sequence:
        result = result + [element * 2]
    return result

In [55]:
double(list1)

['abcabc', 'bcdbcd', 'cdecde']

In [56]:
double('3')

['33']

In [57]:
double('hello')

['hh', 'ee', 'll', 'll', 'oo']

In [58]:
list3= [a,b,c]  #python doesn't know what the variables are c,db,ec

NameError: name 'a' is not defined

In [59]:
a = 1
b = 2
c = 3

In [60]:
list3= [a,b,c]

In [61]:
double(list3) #now it knows what the variables are, you can run the function

[2, 4, 6]

### Q. As a group, write a description of what the double function does?

In [ ]:
The double function takes a list as input and doubles each element. It stores this new list to a variable and then returns the variable.

## 4 Javascript to Python

Go to nickm.com/memslam and select a poem. Grab the python2 version by right-clicking and using "save link as" to save the python file to your desktop.  

Copy everything from this statement until the end of the file into a Jupyter cell: <br>
<b>from random import choice</b>

We'll start with House Of Dust.

In [62]:
from random import choice

material = ['SAND', 'DUST', 'LEAVES', 'PAPER', 'TIN', 'ROOTS', 'BRICK', 'STONE', 'DISCARDED CLOTHING', 'GLASS', 'STEEL', 'PLASTIC', 'MUD', 'BROKEN DISHES', 'WOOD', 'STRAW', 'WEEDS']

location = ['IN A GREEN, MOSSY TERRAIN', 'IN AN OVERPOPULATED AREA', 'BY THE SEA', 'BY AN ABANDONED LAKE', 'IN A DESERTED FACTORY', 'IN DENSE WOODS', 'IN JAPAN', 'AMONG SMALL HILLS', 'IN SOUTHERN FRANCE', 'AMONG HIGH MOUNTAINS', 'ON AN ISLAND', 'IN A COLD, WINDY CLIMATE', 'IN A PLACE WITH BOTH HEAVY RAIN AND BRIGHT SUN', 'IN A DESERTED AIRPORT', 'IN A HOT CLIMATE', 'INSIDE A MOUNTAIN', 'ON THE SEA', 'IN MICHIGAN', 'IN HEAVY JUNGLE UNDERGROWTH', 'BY A RIVER', 'AMONG OTHER HOUSES', 'IN A DESERTED CHURCH', 'IN A METROPOLIS', 'UNDERWATER']

light_source = ['CANDLES', 'ALL AVAILABLE LIGHTING', 'ELECTRICITY', 'NATURAL LIGHT']

inhabitants = ['PEOPLE WHO SLEEP VERY LITTLE', 'VEGETARIANS', 'HORSES AND BIRDS', 'PEOPLE SPEAKING MANY LANGUAGES WEARING LITTLE OR NO CLOTHING', 'ALL RACES OF MEN REPRESENTED WEARING PREDOMINANTLY RED CLOTHING', 'CHILDREN AND OLD PEOPLE', 'VARIOUS BIRDS AND FISH', 'LOVERS', 'PEOPLE WHO ENJOY EATING TOGETHER', 'PEOPLE WHO EAT A GREAT DEAL', 'COLLECTORS OF ALL TYPES', 'FRIENDS AND ENEMIES', 'PEOPLE WHO SLEEP ALMOST ALL THE TIME', 'VERY TALL PEOPLE', 'AMERICAN INDIANS', 'LITTLE BOYS', 'PEOPLE FROM MANY WALKS OF LIFE', 'NEGROS WEARING ALL COLORS', 'FRIENDS', 'FRENCH AND GERMAN SPEAKING PEOPLE', 'FISHERMEN AND FAMILIES', 'PEOPLE WHO LOVE TO READ']

notice that only one line prints out. How to get it to print out multiple times?<br>
1) We need to define a function surrounding the print statements. <br>
2) We also need to figure out a way to repeat or loop the print statement a set number of times.

In [63]:
range(10)  #for counting, we can use a built-in function called range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#try out range on other numbers
range(5)

[0, 1, 2, 3, 4]

In [64]:
#we also have a way of looping using for loops
def makenpoems(howmanytimes):
    for element in range(howmanytimes):
        print
        print 'A HOUSE OF ' + choice(material)
        print '      ' + choice(location)
        print '            USING ' + choice(light_source)
        print '                  INHABITED BY ' + choice(inhabitants)
        print

Let's use only the number from range.

In [65]:
makenpoems(3)

A HOUSE OF STONE
      BY THE SEA
            USING NATURAL LIGHT
                  INHABITED BY LOVERS


A HOUSE OF WOOD
      ON AN ISLAND
            USING ALL AVAILABLE LIGHTING
                  INHABITED BY PEOPLE WHO SLEEP VERY LITTLE


A HOUSE OF PAPER
      BY THE SEA
            USING ALL AVAILABLE LIGHTING
                  INHABITED BY CHILDREN AND OLD PEOPLE

next we'll use the python <b>function template </b><br>
<pre>
def __function_name_( _variable__):
        ___do_something__
</pre>    
In this case, we want the <b>do something</b> to be the print statements.
Be careful to indent the function so that all the repeated steps are under the function definition.

<pre>
def repeatlines(numberoftimes):
    for element in range(numberoftimes):
        print lines
</pre>

### Question. As a group, change the House of Dust code to print out multiple lines in the cell below.

In [66]:
from random import choice

material = ['SAND', 'DUST', 'LEAVES', 'PAPER', 'TIN', 'ROOTS', 'BRICK', 'STONE', 'DISCARDED CLOTHING', 'GLASS', 'STEEL', 'PLASTIC', 'MUD', 'BROKEN DISHES', 'WOOD', 'STRAW', 'WEEDS']

location = ['IN A GREEN, MOSSY TERRAIN', 'IN AN OVERPOPULATED AREA', 'BY THE SEA', 'BY AN ABANDONED LAKE', 'IN A DESERTED FACTORY', 'IN DENSE WOODS', 'IN JAPAN', 'AMONG SMALL HILLS', 'IN SOUTHERN FRANCE', 'AMONG HIGH MOUNTAINS', 'ON AN ISLAND', 'IN A COLD, WINDY CLIMATE', 'IN A PLACE WITH BOTH HEAVY RAIN AND BRIGHT SUN', 'IN A DESERTED AIRPORT', 'IN A HOT CLIMATE', 'INSIDE A MOUNTAIN', 'ON THE SEA', 'IN MICHIGAN', 'IN HEAVY JUNGLE UNDERGROWTH', 'BY A RIVER', 'AMONG OTHER HOUSES', 'IN A DESERTED CHURCH', 'IN A METROPOLIS', 'UNDERWATER']

light_source = ['CANDLES', 'ALL AVAILABLE LIGHTING', 'ELECTRICITY', 'NATURAL LIGHT']

inhabitants = ['PEOPLE WHO SLEEP VERY LITTLE', 'VEGETARIANS', 'HORSES AND BIRDS', 'PEOPLE SPEAKING MANY LANGUAGES WEARING LITTLE OR NO CLOTHING', 'ALL RACES OF MEN REPRESENTED WEARING PREDOMINANTLY RED CLOTHING', 'CHILDREN AND OLD PEOPLE', 'VARIOUS BIRDS AND FISH', 'LOVERS', 'PEOPLE WHO ENJOY EATING TOGETHER', 'PEOPLE WHO EAT A GREAT DEAL', 'COLLECTORS OF ALL TYPES', 'FRIENDS AND ENEMIES', 'PEOPLE WHO SLEEP ALMOST ALL THE TIME', 'VERY TALL PEOPLE', 'AMERICAN INDIANS', 'LITTLE BOYS', 'PEOPLE FROM MANY WALKS OF LIFE', 'NEGROS WEARING ALL COLORS', 'FRIENDS', 'FRENCH AND GERMAN SPEAKING PEOPLE', 'FISHERMEN AND FAMILIES', 'PEOPLE WHO LOVE TO READ']

def makenpoems(howmanytimes):
    for element in range(howmanytimes):
        print
        print 'A HOUSE OF ' + choice(material)
        print '      ' + choice(location)
        print '            USING ' + choice(light_source)
        print '                  INHABITED BY ' + choice(inhabitants)
        print

In [67]:
makenpoems(7)

A HOUSE OF TIN
      IN A HOT CLIMATE
            USING NATURAL LIGHT
                  INHABITED BY LITTLE BOYS


A HOUSE OF WEEDS
      IN A HOT CLIMATE
            USING ELECTRICITY
                  INHABITED BY LOVERS


A HOUSE OF ROOTS
      IN DENSE WOODS
            USING NATURAL LIGHT
                  INHABITED BY FISHERMEN AND FAMILIES


A HOUSE OF MUD
      IN A PLACE WITH BOTH HEAVY RAIN AND BRIGHT SUN
            USING CANDLES
                  INHABITED BY FRIENDS AND ENEMIES


A HOUSE OF GLASS
      IN AN OVERPOPULATED AREA
            USING ELECTRICITY
                  INHABITED BY PEOPLE SPEAKING MANY LANGUAGES WEARING LITTLE OR NO CLOTHING


A HOUSE OF STEEL
      IN MICHIGAN
            USING ELECTRICITY
                  INHABITED BY PEOPLE WHO EAT A GREAT DEAL


A HOUSE OF BRICK
      ON AN ISLAND
            USING NATURAL LIGHT
                  INHABITED BY PEOPLE WHO ENJOY EATING TOGETHER

##  Submit this class participation notebook.	
In class, you edited an iPython/Jupyter notebook. 

Upload it here using the following steps:

1. Rename your notebook with your group member names (click on 'class 2' text next to jupyter.

2. Save your notebook (File->Save & Checkpoint or click the leftmost disk icon).

3. type and process the following to open an explorer/finder window:
<pre>
import webbrowser, os
filepath = %pwd
webbrowser.open('file://' + os.path.realpath(filepath))
</pre>
4. In the finder or explorer window, locate and drag your ,ipynb file into Canvas.

In [28]:
import webbrowser, os
filepath = %pwd
webbrowser.open('file://' + os.path.realpath(filepath))

True

In [2]:
len("string")

6