#### This challenge is good for up to two quiz points. Partial points an be awarded.

# Part 1 Operations with basic data types
** Instructions:** *Translate* the following comments into valid Python code according to the data type. What does python output when for the following expression?
See the first line below for an example.

** Numbers **  
Floats and integers

In [1]:
#Nine
9  #You type the number 9 *integer* and press shift + enter

9

In [2]:
#Two hundred twelve
212

212

In [3]:
#Nine point three
9.3

9.3

In [4]:
#Eighteen point five
18.5

18.5

In [5]:
#Zero
0

0

In [6]:
#None
1-1

0

In [7]:
#Convert a number to a string using str()
str(7)

'7'

**Addition** +

In [8]:
#Four plus four
4 + 4   # You translate the comment above and type an addition expression, and run it

8

In [9]:
#One plus one plus two plus three plus 5
1+1+2+3+5

12

In [10]:
#Two plus four 
2+4

6

In [11]:
#Negative eight plus nine
-8+9

1

In [17]:
#Four plus negative four point four
4 + -4.4

-0.40000000000000036

**Subtraction**  -

In [18]:
#Six minus three hundred and twenty
6 - 320

-314

In [19]:
#Four minus negative 4
4 - -4

8

In [20]:
#Negative two thousand, three hundred ninety four minus two hundred thirty
-2394 - 230

-2624

**Multiplication**  *

In [21]:
#Four times two thousand five hundred seventy five
4 * 2575

10300

In [22]:
#Three times negative nine
3 * -9

-27

In [23]:
#Three time negative nine point four
3 * -9.4

-28.200000000000003

In [24]:
#Negative seven times twenty five
-7 * 25

-175

**Division** / 
When the numbers in the expression are integes, the result is an integer.
When any numbers in the expression are floats, the result is a float.

In [28]:
#Eight hundred and forty two divided by three
842 / 3.0

280.6666666666667

In [29]:
#Negative nine hundred twenty eight divided by zero point four
-928 / 0.4

-2320.0

In [32]:
#Five divide by one point five
4 / 1.5

2.6666666666666665

In [31]:
#Twelve divided by five
12 / 5.0

2.4

In [34]:
#Check the type returned by 5 / 3 using type(5/3)
type(5/3)

int

In [35]:
#Check the type returned by 1/2 using type(1.2)
type(1.2)

float

In [36]:
#Check the type returned by 1/2.0 using type(1/2.0)
type(1/2.0)

float

**Modulus** %  = Remainder
a%b =  th remainder when a is divided by b

In [37]:
#Twenty seven modulo four
27 % 4

3

In [38]:
#Three modulo four
3 % 4

3

In [39]:
#Negative three modulo four
-3 % 4

1

In [41]:
#Negative eight modulo negative fifty
-8 % -50

-8

**Exponents** 

a\*\*b  =  a to the b power  
(e.g. 2\*\*3 = 2 \* 2 \* 2 = 8  ="Two to the power of three is 8")

In [42]:
#Two to the power of four
2**4

16

In [43]:
#Two to the power of zero point five
2**0.5

1.4142135623730951

In [52]:
#Negative two to the power of two
-2**2.0

-4.0

In [53]:
#Negative seven to he power for two
-7 ** 2.0

-49.0

In [49]:
#Sixteen to the power of zero point five
16 ** 0.5

4.0

In [50]:
#Sixteen to the power of (open parenthesis) one - half (close parenthesis)
16 ** (1/2.0)

4.0

In [51]:
#Sixteen to the power of one-half
16 ** 1/2.0

8.0

### 1.2 Combining calculations 
Experiment with different syntax to observe how the order of operatons changes based on the parenthesis location. The order of operations in Python is known by the acronym PEMDAS:<br>
Parentheses Exponentiation Multiplication Division Addition (Modulo) Subtraction.

In [54]:
#  50 - 5*6  #by default, without parenthesis, multiply then subtract
50 - 5 * 6

20

In [55]:
#  (50-5)*6  #subtract then multiply
(50-5) * 6

270

In [56]:
# 50 - (5 * 6) + 4 #do the multiplication first
50 - (5 * 6) + 4

24

In [57]:
# (50 - 5) * (6 + 4) #do the subtraction and addition before multiplying
(50 - 5) * (6 + 4)

450

In [58]:
#just run this line
from random import randint as r
import random
def emdas():
    o=['**','*','/','+','-'];a=str(r(1,9));b=str(r(1,9))
    for j in o:
        for i in o:
            c = a + i+b + random.choice(o[2:]) + a + j+ b
            print str(c) + "=" + str(eval(c))

In [280]:
#Now run it a few times.
emdas()

8**4/8**4=1
8*4/8**4=0
8/4-8**4=-4094
8+4+8**4=4108
8-4+8**4=4100
8**4-8*4=4064
8*4+8*4=64
8/4+8*4=34
8+4/8*4=8
8-4-8*4=-28
8**4+8/4=4098
8*4-8/4=30
8/4/8/4=0
8+4-8/4=10
8-4+8/4=6
8**4-8+4=4092
8*4/8+4=8
8/4+8+4=14
8+4-8+4=8
8-4/8+4=12
8**4-8-4=4084
8*4+8-4=36
8/4-8-4=-10
8+4+8-4=16
8-4/8-4=4

In [281]:
emdas()

5**4+5**4=1250
5*4-5**4=-605
5/4/5**4=0
5+4+5**4=634
5-4/5**4=5
5**4+5*4=645
5*4-5*4=0
5/4+5*4=21
5+4+5*4=29
5-4+5*4=21
5**4-5/4=624
5*4/5/4=1
5/4+5/4=2
5+4/5/4=5
5-4+5/4=2
5**4/5+4=129
5*4/5+4=8
5/4+5+4=10
5+4/5+4=9
5-4-5+4=0
5**4+5-4=626
5*4/5-4=0
5/4+5-4=2
5+4-5-4=0
5-4/5-4=1

###  Bonus Q. Explain what does emdas do?

In [ ]:
It shows all of the possible configurations for two random numbers, repeated once in a mathematical formula, interpretable by python, and then gives the answer to each of these configurations.

**Booleans** evaluate whether a statement is True or False
<pre>
> (greater than) 
< (less than)
== (equivalent to) 
>= (greater than or equal to)
<= (less than or equal to)
!= (not equal to)
</pre>

In [65]:
#Seven is less than zero
7 < 0

False

In [66]:
#Seven is greater than  zero
7 > 0

True

In [67]:
#Seven is equivaent to  seven
7 == 7

True

In [68]:
#Seven is greater than or equal to  three
7 >= 3

True

In [69]:
#Seven is less than or equal to three
7 <= 3

False

In [70]:
#Three plus two is less than or equal to four 
3 + 2 <= 4

False

In [71]:
#Four minus 2 is greater than or qual to four hundred eighty two point three
4 - 2 >= 582.3

False

In [72]:
#Two plus three is equivalent to four
2 + 3 == 4

False

In [73]:
#Five not equal to eight
5 != 8

True

In [75]:
#True not equal to Falee
True != False

True

**Combining Booleans**  
And, Or, Not

In [76]:
#True and True
True and True

True

In [78]:
#Two greater than zero and Four thousand greater than forty
2 > 0 and 4000 > 40

True

In [79]:
#Two greater than zero and Four thousand less than forty
2 > 0 and 4000 < 40

False

In [80]:
#True and False
True and False

False

In [81]:
#False and True
False and True

False

In [82]:
#Two less than zero and four thousand greater than forty
2 < 0 and 4000 > 40

False

In [83]:
#False or True
False or True

True

In [84]:
#True or False
True or False

True

In [85]:
#(True or False) and True
(True or False) and True

True

In [86]:
#True or (False and True)
True or (False and True)

True

In [87]:
#Three greater than zero or zero less than three
3 > 0 or 0 < 3

True

In [88]:
#Three less than zero or zero greater than three
3 < 0 or 0 > 3

False

In [89]:
#Three greater than zero or zero greater than three
3 > 0 or 0 > 3

True

In [90]:
#Three greater than zero or zero less than three
3 > 0 or 0 < 3

True

In [91]:
#True or True
True or True

True

In [92]:
#False or False
False or False

False

In [94]:
#Not False or True
not False or True

True

In [96]:
#Not True and False
not True and False

False

In [97]:
#Not True and True
not True and True

False

In [98]:
#Not False and True
not False and True

True

In [99]:
#Not (3 > 0)
not (3 > 0)

False

In [100]:
#Not (3 < 0)
not (3 < 0)

True

**Strings**

In [101]:
#Make an empty string by putting two quote marks together
""

''

In [102]:
#Make a string by putting some text between quote marks
"some text"

'some text'

In [103]:
#Add "Hi" + "There"
"Hi" + "There"

'HiThere'

In [104]:
#Add "Hi" + "There" + "!"
"Hi" + "There" + "!"

'HiThere!'

In [105]:
#Add "OU" + "812" 
"OU" + "812"

'OU812'

In [106]:
#Add "1" + "2"
"1" + "2"

'12'

In [107]:
#Multiply "1" by 3
"1" * 3

'111'

In [108]:
#Multiply "~*" by 5 
"~*" * 5

'~*~*~*~*~*'

In [109]:
#Calculate "Hi" * 2 + "!" * 4 
"Hi" * 2 + "!" * 4

'HiHi!!!!'

In [115]:
#Convert a sentence string to a list by using the string.split() function
import string
SentenceStr=str("This is a sentence")
ListStr=string.split(SentenceStr)
print ListStr

['This', 'is', 'a', 'sentence']

In [118]:
#convert the string '2' to a number using the int() cast function
String='2'
Integer=int(String)
print Integer
print type(Integer)

2
<type 'int'>

** Lists ** a sequential collection of data

In [122]:
#make an empty list by putting nothing inside square brackets
EmptyListVar=[]
print EmptyListVar

[]

In [121]:
#Make a list by putting three number values inside square brackets, separated by a comma
ListVar=[1,2,3]
print ListVar

[1, 2, 3]

In [123]:
#Make a list by putting four strings inside square brackets, separated by a comma
ListOStrings=['One', 'Two', 'Three', 'Four']
print ListOStrings

['One', 'Two', 'Three', 'Four']

In [125]:
#Get a list of numbers from 1 to 2 by using the range function with 2 arguments
ListONumbers=range(1,3)
print ListONumbers

[1, 2]

In [126]:
#Make a list of numbers from 0 to 3 by using the range function withonly one argument
ListONumbers2=range(4)
print ListONumbers2

[0, 1, 2, 3]

In [127]:
#Make a list called animals that contains at least three animals (with quotes around them)
Animals=["Elephant", "Zebra", "Dog", "Cat"]

In [129]:
#Convert a list to a string by using the " ".join(list) function
Animals=["Elephant", "Zebra", "Dog", "Cat"]
StringOAnimals="".join(Animals)
print StringOAnimals

ElephantZebraDogCat

###  1.3 Visualizing  strings
Just run the code in the next cell using SHIFT+ENTER

In [279]:
import math
def v("something"):
    'Show indices in a string.'
    c=''
    for i in range(len(t)):
        c+=str(i)
        w=len(t[i])
        if(i>11):
            c+=(w-int(math.log(i,10)))*' '
        else:
            c+=w*' '
    print" ".join(t)+'\n'+c

SyntaxError: invalid syntax (<ipython-input-279-a3e35a9b60ca>, line 2)

In [271]:
#run the function with a string input e.g. v("hello")

In [ ]:
#run the fucntion with a different string input

#### Bonus Q. Describe what the v function does.

In [278]:
print "I don't think it's working the way it should...."

I don't think it's working the way it should....

# Part 2 Writing basic expressions
**Instructions** Create code to fit the commented descriptions. See the line immediately below this for an example.

In [139]:
#A boolean expression that includes the "greater than" symbol
29 < 50  #You type in an expression fitting the description above.

True

In [140]:
#Multiply two numbers then add 4 to the  multiplication result e.g. (3*4) +4
(3*4) +4

16

In [141]:
#Multiply the result after adding two numbers together e.g. 3*(4+4)
3*(4+4)

24

In [142]:
#A boolean expression that includes the "less than" symbol
True > False

True

In [143]:
#A boolean expression that includes the "greater than or equal to" symbol
False >= True

False

In [144]:
#A boolean expression that includes the "less than or equal to" symbol
False <= True

True

In [145]:
#A boolean expression that includes the "equivalent" symbol
True == False

False

In [146]:
#A boolean expression that includes the "not equivalent" symbol
False != True

True

In [149]:
#Create a string using single quotes ' '
'String'

'String'

In [148]:
#Create a string using double quotes " "
"String"

'String'

In [147]:
#Make a string with just one alphabetic character
"A"

'A'

In [150]:
#Make a string from digits
"467968"

'467968'

In [151]:
#Make a string from a punctuation mark
";"

';'

In [152]:
#Create a very long string (with more than 100 characters)
"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet blandit arcu, nec luctus metus consequat vel. Duis semper urna vulputate turpis porttitor commodo. Proin scelerisque turpis dapibus dictum bibendum. Nulla libero metus, commodo nec ex eget, luctus efficitur erat. Sed finibus justo vitae massa efficitur, eget varius mauris euismod. Proin elementum lectus magna, accumsan consequat purus mollis at. Integer ac fermentum dolor. Aliquam a pulvinar elit. Duis placerat consectetur felis, et gravida metus scelerisque a. Aenean eros nunc, viverra eget posuere ut, porttitor quis est. Sed eget erat eu lacus auctor consequat eget et arcu. Fusce condimentum dui ac justo."

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet blandit arcu, nec luctus metus consequat vel. Duis semper urna vulputate turpis porttitor commodo. Proin scelerisque turpis dapibus dictum bibendum. Nulla libero metus, commodo nec ex eget, luctus efficitur erat. Sed finibus justo vitae massa efficitur, eget varius mauris euismod. Proin elementum lectus magna, accumsan consequat purus mollis at. Integer ac fermentum dolor. Aliquam a pulvinar elit. Duis placerat consectetur felis, et gravida metus scelerisque a. Aenean eros nunc, viverra eget posuere ut, porttitor quis est. Sed eget erat eu lacus auctor consequat eget et arcu. Fusce condimentum dui ac justo.'

In [153]:
#print "Hello World"
print "Hello World"

Hello World

In [154]:
#Use string multiplication to print "hi!" ten times
"hi!" * 10

'hi!hi!hi!hi!hi!hi!hi!hi!hi!hi!'

In [161]:
#Use string addition, multiplication, and punctuation to print a custom sentence
#e.g. "I "+"<3"+" string "+"multiplication"+("!"*5)

print "I","<3","python" + ("!" * 3)+("1" * 2)+("!" * 5)+("1")+("!" * 2)+("1" * 7)

 I <3 python!!!11!!!!!1!!1111111

In [162]:
#Test if the length of "Hello" is equal to the length of "howdy"
len("Hello") == len("howdy")

True

In [163]:
#Get the length of this string  "Measure me"
len("Measure me")

10

In [164]:
#Get the length of a multiplied string "Measure" * 2
len("Measure" * 2)

14

In [165]:
#Get the length of an added string "Measure" + "for Measure"
len("Measure" + "for Measure")

18

In [166]:
#Test if the length of "hello" is greater than 4
len("hello") > 4

True

**String Index Annotation** retrieving the value at a position in the string, indexed from 0
e.g. "quiz"[2] = i

In [168]:
#Write an expression to get the first letter of "hello" using index position, at place zero
V1="hello"
print V1[0]

h

In [170]:
#Write an expression to get the second letter of "hello" using index position

print V1[1]

e

In [171]:
#Write an expression to get the last letter of "hello" using a negative index position
print V1[-1]

o

In [173]:
#Write code that pulls the first letter from your name
MyName="Ben"
MyFirstLetter=MyName[0]
print MyFirstLetter

B

**String Slicing** retrieving several characters from a string

In [174]:
# Write a statement using print() to print the string: "Be careful not to fall off!" 
print("Be careful not to fall off!")

Be careful not to fall off!

In [187]:
#Write an expression to get the first 3 characters of "hello" using a slice
"hello"[:3]

'hel'

In [191]:
#write an expression to grab the last 3 charaacters of "hello" using a slice
"hello"[-3:]

'llo'

In [192]:
#Write an expression to grab the substring"ell" from "hello" using a slice
'hello'[1:4]

'ell'

In [196]:
#write an expression to grab every odd character from "hello" (e.g. 'hlo')
'hello'[::2]

'hlo'

In [200]:
#Write a line of code that turns the string "san francisco" into "San Francisco" 
import string
'san fransisco'.title()

'San Fransisco'

In [201]:
#Write an expression to give all the characters in a string backwards using a slice with -1 step
"string"[::-1]

'gnirts'

In [202]:
#write an expression to give the last two characters in a string using slices
'string'[-2:]

'ng'

** Variables ** containers for data

In [214]:
#Set the variable my_int to the value 7
my_int=7

In [215]:
#Set the variable my_float to the value 1.23
my_float=1.23

In [205]:
#Set the variable my_bool to the value True
my_bool=True

In [206]:
#Reassign the variable my_int to value 5
my_int=5

In [207]:
#Assign fav_search_engine variable  with the string "Google"
fav_search_engine="Google"

In [208]:
#Assign the year variable  with the number 2015
year=2015

In [209]:
#Assign the next_olympics variable  with the number 2016
next_olympics=2016

In [210]:
#Assign the whole_number variable the number 42
whole_number=42

In [211]:
#Assign the float_number variable the number 3.0
float_number=3.0

In [212]:
#Multiply float_number by whole number
float_number * whole_number

126.0

In [213]:
#Multiply float_number by 3 and assign it to a variable named tripled
tripled=float_number*3

In [216]:
#Assign the alist variable to the list [1,2,3,4,5[]]
alist = [1,2,3,4,5] #You would write

In [217]:
#Test if the variable named "tripled" is greater than 1000
tripled > 1000

False

In [218]:
#Test if the variable named whole_number is less than float_number
whole_number < float_number

False

** List manipulation **

In [219]:
#Add the lists [1,2,3] and [4,5,6] together using a + symbol
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [220]:
#Multiply [1,2,3] by 3 using th a * symbol
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [221]:
temperatures = [39, 34, 27, 23, 32, 43, 43, 37]
#Use the above variable for the next two statements

In [229]:
#Write code to add a new temperature to the end of the temperatures list

temperatures.append(42)
print temperatures

[39, 34, 27, 23, 32, 43, 43, 37, 42, 42]

In [231]:
#Write a few lines of code that subtracts the first and last temperatures stored in the list.
temperatures = temperatures[1:-1]
print temperatures

[34, 27, 23, 32, 43, 43, 37, 42]

In [232]:
li = [1, 2, 3, 4, 5]
#Use the above variable for the next six statements

In [233]:
#Write an expression to add a string to the end of the list li = [1, 2, 3, 4, 5, "hi!"]
li.append("hi!")
print li

[1, 2, 3, 4, 5, 'hi!']

In [234]:
#Use the append function to add more items onto the list, so that it
#becomes   li = [1, 2, 3, 4, 5, "hi!", "hello!", "yo!"]
li.append("yo!")
print li

[1, 2, 3, 4, 5, 'hi!', 'yo!']

In [240]:
#use the del command to delete an item from li

del li[-1]
print li

[1, 2, 3, 4, 5, 'hi!']

In [243]:
#Return just the first five elements of the list li using slices
li[0:5]

[1, 2, 3, 4, 5]

In [244]:
#Write an expression to give all the elements in li backwards using a slice with a step of -1
li[::-1]

['hi!', 5, 4, 3, 2, 1]

In [245]:
#write an expression to give the last two elements in li using slices
li[-2:]

[5, 'hi!']

Range

In [247]:
# Use a range function to get a list of numbers from 0 to 10
range(11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [248]:
# Use a range function to get a list of numbers from 18 to 21
range(18,22)

[18, 19, 20, 21]

In [251]:
# Use a range function to get a list of numbers from 0 to 100, stepped by 10
range(0,100,10)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Beginning to put it together

In [253]:
#Write a statement to multiply a number by itself
7**2

49

In [254]:
#Write a statement to get the area by multiplying width times height
width = 20
height = 5 * 9
area= width * height
print area

900

In [265]:
#write a statement to calculate the tax in massachusetts given the current tax rate
tax_rate = 0.0625
subTotal=35
tax = subTotal * tax_rate
print "Tax is:"
print tax

Tax is:
2.1875

In [269]:
#write a statement to calculate the total amount of a meal in massachusetts given the tax_rate
tax_rate = 0.0625
subTotal=20
tax = subTotal * tax_rate
print "Tax is:"
print tax
grandTotal= subTotal + tax
print "Your Grand Total is:"
print grandTotal

Tax is:
1.25
Your Grand Total is:
21.25